<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>질문 목록</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, loop : ${questionList}">
      <td th:text="${loop.count}"></td>
      <td>
        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
      </td>
      <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</body>
</html>


<!--/* 기능	    문법 예시
       텍스트 출력	th:text="${변수}"
                <td>[[${question.subject}]]</td> 대괄호를 사용하여 값을 직접 출력가능
                <td>[[${question.createDate}]]</td>
       반복문	    th:each="item : ${list}" th:each="question : ${questionList}"
       th:each="question, loop : ${questionList}"
       loop.index: 루프의 순서(루프의 반복 순서, 0부터 1씩 증가)
       loop.count: 루프의 순서(루프의 반복 순서, 1부터 1씩 증가)
       loop.size: 반복 객체의 요소 개수(예를 들어 questionList의 요소 개수)
       loop.first: 루프의 첫 번째 순서인 경우 true
       loop.last: 루프의 마지막 순서인 경우 true
       loop.odd: 루프의 홀수 번째 순서인 경우 true
       loop.even: 루프의 짝수 번째 순서인 경우 true
       loop.current: 현재 대입된 객체(여기서는 question과 동일)
       조건문	    th:if, th:unless th:if="${question != null}"
       링크	    th:href="@{/경로}"
       입력값	    th:value="${값}", th:field
       폼 액션	th:action, th:object
       조각 포함	th:insert, th:replace
       날짜/숫자	#dates, #numbers
       JS 사용	[[${변수}]] inside <script> */-->
